$white: rgba(255,255,255,0.3);

form {
  background: $white;
  padding: 3em;
  width: 700px;
  height: max-content;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  p{
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
    margin-bottom: 25px;
  
  
  a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
    
    &:hover {
      text-shadow: 2px 2px 6px #00000040;
    }
    
    &:active {
      text-shadow: none;
    }
  }

  .noAccount {
    margin-bottom: 60px;
  }
  // input not valid style red shadow and res color
  input.ng-touched.ng-invalid select.ng-touched.ng-invalid{
    box-shadow: 4px 4px 60px 8px rgba(189, 11, 11, 0.678);
    color: rgb(146, 12, 12);
  }
  
  &:hover {
    margin: 4px;
  }
}


::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
  
  .drop {
    background: $white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s ease;
    
    &-1 {
      height: 80px;
      width: 80px;
      top: -20px;
      left: -40px;
      z-index: -1;
    }
    
    &-2 {
      height: 80px;
      width: 80px;
      bottom: -30px;
      right: -10px;
    }
    
    &-3 {
      height: 100px;
      width: 100px;
      bottom: 120px;
      right: -50px;
      z-index: -1;
    }
    
    &-4 {
      height: 120px;
      width: 120px;
      top: -60px;
      right: -60px;
    }
    
    &-5 {
      height: 60px;
      width: 60px;
      bottom: 80px;
      left: -100px;
    }
  
    &-6 {
      height: 80px;
      width: 80px;
      bottom: -20px;
      left: -20px;
      z-index: -1;
    }
  
    &-7 {
      height: 50px;
      width: 50px;
      bottom: 170px;
      left: -40px;
    }
  
    &-8 {
      height: 60px;
      width: 60px;
      bottom: -80px;
      left: 150px;
    }
  
    &-9 {
      height: 60px;
      width: 60px;
      bottom: 250px;
      right: -100px;
    }
  
    &-10 {
      height: 60px;
      width: 60px;
      top: -70px;
      left: 90px;
      z-index: -1;
    }
}

.group-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input{
  margin-left: 5px;
}

select{
  margin-left: 5px;
}